.button {
  box-sizing: border-box;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  border: 2px solid var(--light-text-color);
  background-color: transparent;
  color: var(--dark-text-color);
}

.button:hover,
.button:active {
  background-color: var(--highlight-color);
}

.button:focus {
}
