.collapsible {
  padding: var(--content-padding);
  border: 1px solid var(--border-color);
  border-radius: var(--main-border-radius);
  margin: var(--main-half-padding);
  background-color: var(--dark-color);
  overflow: hidden;
}

.title{
  font-size: 0.95em;
}

.name{
  margin-left: var(--content-padding);
}

.content {
  padding-top: var(--content-padding);
}
