.colorPicker {
  min-width: 350px;
  background-color: #808080;
}

.hslaBar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.3em;
  border: 1px solid var(--border-color);
  background-color: #808080;
  font-family: var(--mono-font);
  font-size: 1.8rem;
}

.hslaBar span {
  margin: 0.3em;
}

.hueSatBox {
  box-sizing: border-box;
  height: 450px;
}

.lightBox {
  box-sizing: border-box;
  height: 45%;
  border-bottom: 2px solid var(--border-color);
}
