.colorBar {
  display: flex;
  padding: 0.6em;
  border: 1px solid var(--border-color);
  background-color: #80b060;
  font-size: 2.6rem;
}

.colorItems {
  display: flex;
}

.colorItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.6em;
}

@media only screen and (max-width: 600px) {
  .colorItems {
    flex-direction: column;
  }
}
