.copyIcon {
  margin: 0.1em;
  padding: 0.1em;
}

.wrap {
  position: relative;
  --border-width: 3px;
  --box-size: 1.1em;
  --box-radius: 0.15em;
}

.back {
  box-sizing: border-box;
  width: var(--box-size);
  height: var(--box-size);
  margin-right: calc(2 * var(--border-width));
  margin-top: calc(2 * var(--border-width));
  border-bottom: var(--border-width) solid currentColor;
  border-left: var(--border-width) solid currentColor;
  border-radius: var(--box-radius);
}

.front {
  position: absolute;
  box-sizing: border-box;
  left: calc(2 * var(--border-width));
  bottom: calc(2 * var(--border-width));
  width: var(--box-size);
  height: var(--box-size);
  border: var(--border-width) solid currentColor;
  border-radius: var(--box-radius);
}
