.mainPane {
  display: flex;
  font-size: 1.6rem;
}

.leftNav {
  display: flex;
  flex-direction: column;
  padding: var(--nav-padding);
  max-width: 20%;
}

.leftNav > * {
  margin-right: 0;
  margin-bottom: var(--nav-padding);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: var(--content-half-padding);
}

.content > * {
  margin: var(--content-half-padding);
}

@media only screen and (min-width: 1200px) {
  .content {
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .leftNav {
    flex-direction: row;
    max-width: 100%;
  }

  .leftNav > * {
    margin-right: var(--nav-padding);
    margin-bottom: 0;
  }

  .mainPane {
    flex-direction: column;
  }
}
