.mainPane {
  display: flex;
  padding: var(--content-half-padding);
  font-size: 1.6rem;
}

.leftNav {
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.leftNav > * {
  margin: var(--content-half-padding);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content > * {
  margin: var(--content-half-padding);
}

@media only screen and (min-width: 1200px) {
  .content {
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .leftNav {
    flex-direction: row;
    max-width: 100%;
  }

  .mainPane {
    flex-direction: column;
  }
}
