.mainPane {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--main-half-padding);
  font-size: 1.6rem;
}

@media only screen and (min-width: 1200px) {
  .mainPane {
    flex-direction: row;
  }
}

@media only screen and (max-width: 600px) {
  .mainPane {
    flex-direction: column;
  }
}
