.source {
  position: relative;
}

.displayWrap {
  display: inline-block;
  position: relative;
}

.displayImage {
  max-width: 100%;
  width: auto;
}

.magCanvas {
}

.magCursor {
  position: absolute;
  border: 1px solid var(--mag-cursor-color);
}

.fullCanvas {
  display: none;
}
