.source {
  position: relative;
}

.imageWrapper {
  position: relative;
}

.image {
  max-height: 200px;
  width: auto;
  border: 1px solid var(--border-color);
}

.magCanvas {
  border: 1px solid var(--border-color);
}

.magCursor {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 20px;
  height: 10px;
  border: 1px solid var(--mag-cursor-color);
}

.sampleCanvas {
  /*
  display: none;
  */
}
