.sourceLoadForm {
  height: 10em;
  background-color: #004080;
}

input[type="file"] {
  display: none;
}

/*
.inputLabel {
  display: inline-block;
}

.input {
  display: inline-block;
  width: 15em;
  padding: 0.1em 0.3em;
  border: 1px solid var(--light-text-color);
  border-radius: 1px;
  margin: 0 0.4em;
  background-color: var(--mid-color);
  color: var(--light-text-color);
}

.input:hover,
.input:active {
}

.input:focus {
}
*/
