.source {
  position: relative;
}

.displayWrap {
  display: inline-block;
  position: relative;
}

.displayImage {
  max-width: 100%;
  width: auto;
}

.magLabel {
  padding: 0.1em 0 0.4em 0.6em;
  color: var(--mid-text-color);
  font-size: 0.9em;
}

.magWrap {
  display: inline-block;
  border: 2px solid var(--mag-cursor-color);
  margin-bottom: var(--content-padding);
}

.magCanvas {
  display: block;
}

.magCursor {
  position: absolute;
  border: 1px solid var(--mag-cursor-color);
}

.fullCanvas {
  display: none;
}
