.toolBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: var(--left-nav-padding);
  background-color: var(--dark-color);
}
