:root {
  --content-half-padding: 0.3em;
  --border-color: #808284;
  --dark-color: #484c52;
  --mid-color: #6e7273;
  --light-color: #a0a0a0;
  --dark-text-color: #404040;
  --light-text-color: #fafafa;
  --current-contrast-color: var(--light-text-color);
  --headline-font: 'Open Sans', sans-serif;
  --body-font: 'Fira Sans', sans-serif;
}

html {
  font-size: 10px;
  font-family: var(--body-font);
  background-color: var(--light-color);
  color: var(--light-text-color);
}

body {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}
