:root {
  --main-half-padding: 0.5rem;
  --content-padding: 0.6rem;
  --main-border-radius: 3px;
  --border-color: #808284;
  --mid-color: #6e7273;
  --dark-color: #484c52;
  --highlight-color: #00c8ff;
  --light-text-color: #fafafa;
  --body-font: 'Fira Sans', sans-serif;
  --headline-font: 'Open Sans', sans-serif;
}

html {
  font-size: 10px;
  font-family: var(--body-font);
  background-color: var(--mid-color);
  color: var(--light-text-color);
}

body {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}
