:root {
  --main-half-padding: 0.3rem;
  --content-padding: 0.6rem;
  --main-border-radius: 5px;
  --border-color: #808284;
  --mid-color: #6e7273;
  --dark-color: #484c52;
  --highlight-color: #00c8ff;
  --mag-cursor-color: #ffff00;
  --light-text-color: #fafafa;
  --mid-text-color: #a6a6a6;
  --body-font: 'Fira Sans', sans-serif;
  --headline-font: 'Open Sans', sans-serif;
  --mono-font: 'Source Code Pro', sans-serif;
}

html {
  font-size: 10px;
  font-family: var(--body-font);
  background-color: var(--mid-color);
  color: var(--light-text-color);
}

body {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
  font: inherit;
  outline: none;
}

@media only screen and (max-width: 600px) {
  :root {
    --main-half-padding: 0;
  }
}
